@import url('https://fonts.googleapis.com/css2?family=Finger+Paint&display=swap');

html {
    scroll-behavior: smooth;
    // overflow-x: hidden!important;
  }

body{
    margin: 0px;
    padding: 0px;
    overflow-x: hidden!important;
}

#Home_main{
    display: inline;
    z-index: -1;
}

.HomeSec{
    height:100vh;
    width:20vw;
    display: inline-block;
}

#Home_intro{
    display: inline;
    text-align: center;
    font-family: 'Finger Paint', cursive;
    position: absolute;
    width:fit-content;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom:10px;
    padding-top: 10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    text-align: center;
    top:35%;
    background:linear-gradient(rgba(0,0,0,0.3),rgba(0,0,0,0.3));
    border-radius: 20px;
    color:white;
    line-height: 2px;
}

#Home_intro h1{
    background: linear-gradient(#83C5BE,#EDF6F9);
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.Home_icon{
    display: inline-block;
    margin:5px;
    cursor: pointer;
    margin-left: 10px;
    margin-right:10px;
}

.Home_icon_img{
    transition:0.2s ease-in-out;
    padding-bottom: 10px;
}

.Home_icon:hover .Home_icon_img{
    transform:scale(1.1);
}

.Gallery_palette{
    color:white;
    font-family: 'Finger Paint', cursive;

}

.Gallery_canvas{                   
    position: relative;
    cursor: pointer;
    border:2px solid black;
    border-radius: 10px;
    margin-top:5%;
    text-align:center;
}

.Gallery_canvas:hover{
    transform: scale(1.01)!important;
}